---
import Layout from '../layouts/Layout.astro';
import Greeting from '../components/Greeting.jsx';
---
<Layout pageTitle="Inicio">
  <h2>Inicio de la pagina de Astro</h2>
  <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
</Layout>
